@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body {
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Comfortaa', Arial;
}

h1 {
    margin: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    background: whitesmoke;
    width: 60vh;
    height: 60vh;
    font-family: 'Comfortaa', cursive;
    
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(187, 255, 0);
    box-shadow: 0.3rem 0.3rem 0.4rem rgb(110, 109, 109);
    cursor: pointer;
    text-align: center;
    padding: 0.5rem;
    font-size: 4rem;
}

.tile:hover {
    transform: scale(1.07);
}

.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60vh;
    height: 5vh;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.xScoreBoard {
    box-shadow: 0.3rem 0.3rem 0.4rem rgb(110, 109, 109);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.xName {
    display: flex;
    background: rgb(187, 255, 0);
    justify-content: center;
    align-items: center;
}

.xScore {
    display: flex;
    background: black;
    color:  rgb(187, 255, 0);
    justify-content: center;
    align-items: center;
}

.oScoreBoard {
    box-shadow: 0.3rem 0.3rem 0.4rem rgb(110, 109, 109);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.oName {
    display: flex;
    background: black;
    color:  rgb(187, 255, 0);
    justify-content: center;
    align-items: center;
}

.oScore {
    display: flex;
    background:  rgb(187, 255, 0);
    color: black;
    justify-content: center;
    align-items: center;
}


.avi {
    height: 2rem;
    display: inline-block;
    position: relative;
    top: 0.5rem
}

.created { 
    display: inline-block;
}

a {
    color: rgb(202, 98, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin: 1rem;
    grid-area: footer;
    padding: 1.5rem;
    text-align: center;
}

@media (orientation: portrait) {
    .container {
        width: 70vw;
        height: 70vw;
    }

    .scoreboard {
        width: 70vw;
        height: 7vw;
        gap: 0.6rem;
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    .container {
        gap: 0.6rem;
    }

    .tile {
        font-size: 2.5rem;
    }
}